# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
ENV/
.venv/

# Logs and outputs
*.log
*.out
*.txt
*.csv
*.dat

# Flask instance folder
instance/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Cache and temp
*.cache/
*.tmp/
